@use "variables" as *;
@use "mixins" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $font-size-base;
    @include flex-center;
}


.container {
    max-width: 500px;
    width: 100%;
    height: 100%;
    .content {
        cursor: pointer;
        box-shadow: $shadow-default;
        width: 100%;
        aspect-ratio: 500 / 891;
        background: url('../../assets/images/open.png') no-repeat center / cover;
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: column;
        align-items: center;
        color: #78563cff;
        p.title {
            font-family: $gothamLight-font;
            font-weight: 600;
            text-decoration: none;
        }
        p.subtext {
            font-family: $gothamLight-font;
            text-transform: uppercase;
            margin-bottom: 19%;
        }
    }
}


@media (max-width: 500px) {
    body {
        font-size: calc(($font-size-base / 500px) * 100vw);
    }
}